@import '../../../GlobalStyles/variables';

.bottom {
  border-top: thin solid $color-light;
  flex: 1 1 67%;

  .AnswerButton {
    border-radius: 10px;
    background: $color-answer-button-background;
    color: $color-text-dark;
    border: blue solid 2px;
    box-shadow: 0 5px 0 0 blue;
    word-wrap: break-word;
    padding: 5px 10px 10px 10px;
    flex: 1 1 100%;

    textarea {
      text-align: center
    }

    :active {
      box-shadow: none;
    }

    :first-child {
      margin-top: 0;
    }

    :last-child {
      margin-bottom: 0;
    }
  }

  h3 {
    font-size: 2rem;
    margin-bottom: 0;
  }

  .row {
    &:first-of-type {
      .AnswerButton {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
      }
    }

    .AnswerButton:first-of-type {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:last-of-type {
      .AnswerButton {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    .AnswerButton:last-of-type {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .row {
    &:first-of-type {
      .AnswerButton:first-of-type {
        border-top-left-radius: 20px;
      }

      .AnswerButton:last-of-type {
        border-top-right-radius: 20px;
      }
    }

    &:last-of-type {
      .AnswerButton:first-of-type {
        border-bottom-left-radius: 20px;
      }

      .AnswerButton:last-of-type {
        border-bottom-right-radius: 20px;
      }
    }
  }
}
