#NewQuiz {

  .slide {
    @keyframes fade-in {
      from {
        max-height: 0;
        opacity: 0;
      }
      to {
        max-height: 5rem;
        opacity: 1;
      }
    }

    label {
      display: block;
      animation-name: fade-in;
      animation-duration: .3s;
    }
  }

  .section {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .slide {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }
}
