$color-light: #B5179E;
$color-medium: #7209B7;
$color-dark: #29006C;
$color-text-light: #FFF;
$color-glass-tile-border: $color-text-light;
$color-glass-tile-background: rgba(0, 0, 0, .3);
$box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
$box-shadow-glass-tile: inset 0 0 20px $color-glass-tile-border;
$border-radius: 5px;
$font-family-default: 'Josefin Sans', Helvetica, sans-serif;
$font-family-secondary: 'Playfair Display', serif;
