@import 'src/sharedStyles/variables';
@import 'src/sharedStyles/fonts';
@import 'src/sharedStyles/mixins';

:root {
  --amplify-primary-color: #B5179E;
  --amplify-primary-tint: $color-dark;
  --amplify-font-family: $font-family-default;
}

amplify-authenticator {
  height: 100%;
}

#root {
  height: 100%;
}
