@import 'src/sharedStyles/variables';
@import 'src/sharedStyles/fonts';
@import 'src/sharedStyles/mixins';

:root {
  --amplify-primary-color: #B5179E;
  --amplify-primary-tint: $color-dark;
  --amplify-font-family: $font-family-default;
}

amplify-authenticator {
  height: 100%;
}

.logout-bar {
  border-bottom: solid white thin;
  border-right: solid white thin;
  background-color: rgba(0,0,0,.5);
  display: flex;
  align-items: center;
  margin: 0 auto 5px 0;
  border-bottom-right-radius: 10px;


  div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  button {
    margin: 0;
    border-width: 0 1px 0 0;
    border-radius: 0;
  }

  #Logo {
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
    h1 {
      margin: 0;
    }
  }
}

#root {
  height: 100%;
}
