#if( $util.isNull($ctx.source.publicUserPublicGameId) )
  #return
#else
{
      "version": "2018-05-29",
      "operation": "GetItem",
      "key": {
          "pin": $util.dynamodb.toDynamoDBJson($util.defaultIfNullOrBlank($ctx.source.publicUserPublicGameId, "___xamznone____"))
    }
  }
#end