@import '../../../../sharedStyles/mixins';

#SetupBar {
  margin-top: -45px;
  padding: 0;
  overflow: visible;
  display: flex;

  .collapsible-container {
    transition: max-width .3s, max-height .3s;
  }

  .glass-container {
    @include glassTile;
    height: 100%;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.6);
    border-top-left-radius: 0;
  }

  input {
    margin-top: 0;
    margin-bottom: 0;
  }

  .row {
    justify-content: initial;
    gap: 5px;
    align-items: center;
    margin: 5px 0;
    min-height: 30px;
  }
}

.menubutton {
  margin: 0 0 auto -45px;
  width: 45px;
  padding-left: 0;
  padding-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
