#home {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  button {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .or {
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 10px;

    &::before {
      height: 1px;
      background-color: white;
      width: 100%;
      content: '';
    }

    &::after {
      height: 1px;
      background-color: white;
      width: 100%;
      content: '';
    }
  }
}
