@import '../sharedStyles/variables';
@import '../sharedStyles/fonts';
@import '../sharedStyles/mixins';
@import '../sharedStyles/button';

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: $color-dark;
  background-image: radial-gradient(farthest-side at bottom right, #E53790, $color-dark);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: $font-family-default;
  color: $color-text-light;
  text-align: center;
  overflow: hidden;
}

a {
  color: inherit;
  &:active {
    opacity: .8
  }
}

h2, h3 {
  @include serif-header;
}

input, textarea {
  font-size: 1rem;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 15px;
  padding: 5px 10px;
  background-color: #FFF;
  color: $color-text-dark;
  border: $color-dark thin solid;
  box-shadow: inset 4px 4px 4px 0 rgba(0, 0, 0, .25);
  resize: none;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.center {
  text-align: center !important;
}

.row {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.glass-tile {
  @include glassTile;
}
