@import '../sharedStyles/variables';
@import '../sharedStyles/fonts';
@import '../sharedStyles/mixins';

@keyframes body-background-size {
  from {
    background-size: 100%
  }
  to {
    background-size: 175%
  }
}

html {
  @include liquid-shape;
}

#root {
  @include liquid-shape;
}

.App {
  @include liquid-shape;
}

body {
  @include liquid-shape;
  width: 100vw;
  height: 100vh;
  background-color: $color-dark;
  background-image: radial-gradient(farthest-side at bottom right, #E53790, $color-dark);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: $font-family-default;
  color: $color-text-light;
  text-align: center;
  overflow: hidden;
  animation: body-background-size 10s infinite alternate;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;

  &:active {
    opacity: .8
  }
}

h2, h3 {
  @include serif-header;
}

h2 {
  margin-block-start: 0;
}


[type=checkbox] {
  -webkit-appearance: none;
  height: 1.5em;
  width: 1.5em;
  background-color: white;
  border: 1px solid $color-dark;
  border-radius: .25em;
  position: relative;
  top: -.1em;
  text-align: center;

  &:active {
    outline: 1px dashed $color-light;
  }

  &:focus {
    outline: 2px dashed $color-light;
  }

  &:hover {
    background-color: darken(white, 20%);
  }

  &:checked {
    background-color: $color-dark;
    border-color: white;

    &:hover {
      background-color: lighten($color-dark, 20%);
    }

    &::after {
      font-family: 'Font Awesome', sans-serif;
      font-weight: 900;
      content: '\f00c';
      position: relative;
      top: .06em;
      color: white;
    }
  }
}

label[for]:hover {
  cursor: pointer;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.center {
  text-align: center !important;
}

.row {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.glass-tile {
  @include glassTile;
}
