@import './variables';

button {
  font-family: $font-family-default;
  font-size: 1rem;
  color: $color-text-light;
  padding: 10px 20px;
  border-radius: $border-radius;
  background-color: $color-light;
  background-image: linear-gradient(to bottom right, $color-light, #7209B7);
  box-shadow: $box-shadow;
  border: none;
  margin: 5px;
  flex: 0 1 auto;
  cursor: pointer;

  &:active {
    background-image: linear-gradient(to top left, $color-light, $color-medium);
    box-shadow: inset $box-shadow;
  }

  &.secondary {
    background: white;
    border: white solid thin;
    color: $color-text-dark;
  }

  &.outline {
    background: transparent;
    border: #FFF solid thin;
    color: #FFF;

    &:active {
      background: rgba(255,255,255,.2);
      box-shadow: inset $box-shadow;
    }
  }
}
