@import 'GlobalStyles/variables';
@import 'GlobalStyles/fonts';
@import 'GlobalStyles/mixins';

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: $color-dark;
  background-image: radial-gradient(farthest-side at bottom right, #E53790, $color-dark);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: $font-family-default;
  color: $color-text-light;
  text-align: center;
  overflow: hidden;
}

button {
  font-family: $font-family-default;
  font-size: 1rem;
  color: $color-text-light;
  padding: 10px 20px;
  border-radius: $border-radius;
  background-color: $color-light;
  background-image: linear-gradient(to bottom right, $color-light, #7209B7);
  box-shadow: $box-shadow;
  border: none;
  margin: 5px;
  flex: 0 1 auto;

  &:active {
    background-image: linear-gradient(to top left, $color-light, $color-medium);
    box-shadow: inset $box-shadow;
  }
}

h2, h3 {
  @include serif-header;
}

input, textarea {
  font-size: 1rem;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 30px;
  padding: 10px 20px;
  background-color: #FFF;
  color: $color-text-dark;
  border: $color-dark thin solid;
  box-shadow: inset 4px 4px 4px 0 rgba(0,0,0,.25);
}

.App {
  padding: 5vmin;
  margin: 0 auto;
  max-width: 1000px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.row {
  display: flex;
  align-items: stretch;
  align-content: stretch;
  justify-content: center;
  flex: 1 1 auto;
}

.glass-tile {
  @include glassTile;
}
